/* ESTILOS GENERALES */

:root{
    --primary-color:#adbbc6;
    --secondary-color:#8a8fa3;
    --accent-color:#374254;
    --status-color:#198754;
}

html{
    font-size: 16px;
}

body,div,h1,h2,h3,h4,ul,li,button{
    padding: 0;
    margin: 0;
}

/* ESTILOS NAVBAR */

.navbar{
    position: relative;
    padding: 15px 0;
}

.navbar-collapse{
    gap: 30px;
}

.navbar-brand{
    display: none;
}

.user-section{
    align-items: end;
    position: absolute;
    top: 5px;
    right: 10px;

}

.username {
    color: var(--accent-color);
    position: relative;
    cursor: pointer;
}

.user-img{
    box-shadow: 0 0 4px var(--accent-color);
}


/* Animacion del boton de status del usuario */


.username::before{  
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    padding: 2px;
    border-radius: 10px;
    top: -10px;
    left: 10px;
    z-index: -1;
    box-shadow: 0 0 10px #198754;
    background-color: var(--status-color);
    transition: all .3s ease-in-out;
}

.username:hover::before{
    z-index: 10;
    top: -6px;
    width: 80%;
}

/* Prodcuto mas Vendido section */

.container-wrapper{
    margin-top: 20px;
    
}

.producto-descripcion{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 30px;
    text-wrap: pretty;
}

.producto-img-container{
    padding-top: 20px;
}

.producto-descripcion p+p{
    margin-top: 10px;
}

/* Seccion productos */

.next{
    font-size: 40px;
    padding-left: 20px;
    cursor: pointer;
}

.grid-container-productos{
    gap: 10px;
}
.card{
    padding: 0;
}

.card-img-top{
    width: 100%;
}

/* Carrusel */

.carousel-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.carousel-item img{
    max-width: 200px;
    max-height: 200px;
}

.active{
    z-index: 100;
}
.carousel-control-next{
    z-index: 1000;
}



/* RESPONSIVE */

@media screen and (min-width:768px) {
    .navbar-brand{
        display: block;
    }
}